h1{
    font-size: 18px;
    font-weight: bold;
    direction: rel;
    margin: 5px;
    margin-top: 30px;
}
p{
    font-size: 14px;
    margin: 5px;
}
.hed{
    direction: rtl;
    width: 85%;
    margin: 140px 7.5%;
    transition: .4s;
}

button{
    user-select: none;
    background-color: #fff;
    color: #5ba167;
    border: 2px solid #5ba167;
    width: 85px;
    height: 42.5px;
    border-radius: 10px;
     display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    outline: 0px;
    margin-top: 20px;
}

.not{
    /* box-shadow: 10px 0px 16px 85px #eee; */
    /* background-color: #eee; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.act{
     display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    background-color: #80b98a;
    color: #fff;
}
.as{
    width: 100%;
}
.difr{
    width: 100%;
    /* margin: 10px 2.5% ; */
    transition: .4s;
}