@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "a";
  src: url("./font/a.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

html, body {
  font-family: "a", sans-serif;
}



